<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand"></a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a class="active" href="/">磁盘</a>
            </li>
            <li>
                <a href="/search">搜索</a>
            </li>
        </ul>
    </div>
</div>
<div class="container container-small">
    <h1 class="search-hd">搜索内容</h1>
    <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="search">搜索</button>
        </span>
    </div>
</body>

</html>

<script src="javascripts/jquery-3.3.1.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script>
    $('#search').click(function () {
       window.location.href = '/search/result'
    });
</script>